/* General Reset */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Arial', sans-serif;
  line-height: 1.6;
  background-color: #f8f9fa;
  color: #333;
  padding-top: 5rem;
}

/* Typography */
h1, h2, h3 {
  font-family: 'Helvetica', sans-serif;
  font-weight: 700;
  color: #333;
}

h1 {
  font-size: 2.5rem;
  margin-bottom: 1rem;
}

h2 {
  font-size: 2rem;
  margin-bottom: 0.75rem;
}

h3 {
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
}

/* Links */
a {
  text-decoration: none;
  color: #007bff;
  transition: color 0.3s ease;
}

a:hover {
  color: #0056b3;
}

/* Containers */
.center-container {
  display: flex;
  flex-direction: column;
  align-items: center; /* Center items horizontally */
  justify-content: center; /* Center items vertically*/
  width: 80%;
  margin: 0 auto;
  padding: 2rem 0;
}

.text-box {
  max-width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1.5rem;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.profile-pic {
  max-width: 400px;
  width: 100%;
  border-radius: 8px;
}

ul {
  margin-top: 1rem;
  list-style-type: none;
  padding-left: 1.5rem;
}

ul li {
  margin: 0.5rem 0;
}

/* Navbar Styles */
.navbar {
  z-index: 1;
  display: flex;
  justify-content: flex-start;
  position: fixed;
  top: 0;
  width: 100%;
  gap: 3.5rem;
  align-items: center;
  background-color: #343a40;
  padding: 1rem 2rem;
}

.navbar .logo {
  color: #fff;
  font-size: 1.8rem;
  font-weight: 700;
}

.nav-links {
  display: flex;
  gap: 2.5rem;
}

.nav-links a {
  color: #fff;
  font-size: 1.1rem;
  font-weight: 500;
}

.nav-links a:hover {
  color: #ddd;
}