.songs-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  margin-top: 2rem;
  flex-wrap: wrap; /* responsive for smaller screens */
  box-sizing: border-box;
  width: 100%;
  max-width: 1200px;

}

.section {
  position: relative;
  max-width: 350px;
  background-color: #1DB954;
  border-radius: 12px;
  padding: 1rem;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  flex: 1 1 300px; /* flexible width but not too small - flex-grow, flex-shrink, flex-basis */
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.section:hover {
  transform: scale(1.05);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.5);
}

.song-card {
  position: relative;
  width: 100%;
  height: auto;
  max-height: 350px;
  overflow: hidden;
}

.song-photo {
  width: 100%;
  height: 100%;
  object-fit: contain;
  display: block;
  border-radius: 12px;
}

.vinyl {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 80%;
  height: 80%; 
  transform: translate(-50%, -50%);
  opacity: 0;
  pointer-events: none;
  object-fit: contain;
  border-radius: 50%;
  transition: opacity 0.3s ease-in-out;
}

.song-title {
  font-size: 20px;
  font-weight: bold;
  color: black;
  margin-top: 1rem;
}

.song-author-text {
  font-size: 15px;
  color: black;
  margin-bottom: 1rem;
}

.section:hover .vinyl {
  opacity: 1;
  animation: spin 1.8s linear infinite;
}

@keyframes spin {
  from {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  to {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}